@mixin container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 16px;
}
@mixin block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@mixin title-row {
  display: flex;
  gap: 6px;
  align-items: center;
  font-weight: 500;
}
@mixin scale-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
}
@mixin slider {
  padding: 0 2px;
}
